@{
    ViewData["Title"] = "About";
}

<h3>@ViewData["Message"]</h3>

<address>
    Simon Da Vall<br/>
    Hereford Securities Ltd<br/>
    Apt 6 Surrey Lodge<br/>
    1 Albany Crescent<br/>
    Claygate<br/>
    KT10 0PE<br/>
</address>
<div>
    <abbr>Mob:</abbr>
    <a href="tel:+447740423523">+44 (0) 7740 423523</a>
</div>
<div>
    <abbr>Email:</abbr>
    <a href="mailto:simon.davall@herefordsecurities.co.uk">simon.davall@herefordsecurities.co.uk</a>
</div>

<br/>
<div>
    <p>Version: @ViewData["Version"]</p>
</div>
