@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Apt 6 Surrey Lodge<br />
    1 Albany Crescent<br />
    Claygate<br />
    KT10 0PE<br />
    <abbr title="Phone">Mob:</abbr>
    +44 (0) 7740 423523
</address>

