@model Pegasus.Models.Home.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
<form method="get" action="@Url.Action("Index")" data-pgs-ajax="true" data-pgs-target="#projectTaskList">
    <div class="row task-list">
        <div class="col-sm-3">
            <div class="card card-default">
                <div class="card-header">
                    <input id="projectId" type="hidden" asp-for="Project.Id"/>
                    <h5>Projects</h5>
                </div>
                <div class="card-body project-list">
                    <div>
                        <a class="project-list-item" asp-action="Index" value="0"><i class="fa fa-angle-right"></i>All</a>
                    </div>
                    @foreach (var project in Model.Projects)
                    {
                    <div>
                        <a class="project-list-item" asp-action="Index" value="@project.Id"><i class="fa fa-angle-right"></i>@project.Name</a>
                    </div>
                    }
                </div>
            </div>
            <div class="card card-default">
                <div class="card-header">
                    <h5>Task Filters</h5>
                </div>
                <input id="taskFilterId" type="hidden" asp-for="TaskFilterId"/>
                <div class="card-body project-list">
                    <div>
                        <a class="task-filter" asp-action="Index" value="0"><i class="fa fa-angle-right"></i>All Tasks</a>
                    </div>
                    <div>
                        <a class="task-filter" asp-action="Index" value="1"><i class="fa fa-angle-right"></i>Open Tasks</a>
                    </div>
                    <div>
                        <a class="task-filter" asp-action="Index" value="2"><i class="fa fa-angle-right"></i>High Priority</a>
                    </div>
                    <div>
                        <a class="task-filter" asp-action="Index" value="3"><i class="fa fa-angle-right"></i>Obsolete Tasks</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <partial name="_ProjectTaskList" model="Model" />
        </div>
    </div>
</form>