@model Pegasus.Models.TaskList.SelectionPanelViewModel

<div class="accordion" id="selectionPanel">
    <input id="page" type="hidden" asp-for="Page" />
    <input id="projectId" type="hidden" asp-for="ProjectId" />
    <input id="taskFilterId" type="hidden" asp-for="TaskFilterId"/>

    <div class="card">
        <div class="card-header stretch-limit" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#projectFilter" aria-expanded="true" aria-controls="projectFilter">
                    <h5>Projects</h5>
                </button>
            </h2>
        </div>
        <div id="projectFilter" class="collapse project-flex show" aria-labelledby="headingOne">
            <div class="card-body selection-panel">
                <div>
                    <a class="project-filter-item" asp-action="Index" value="0"><i class="fa fa-angle-right"></i>All</a>
                </div>
                @foreach (var project in Model.Projects)
                {
                    <div>
                        <a class="project-filter-item" asp-action="Index" value="@project.Id">
                            <i class="fa fa-angle-right"></i>@project.Name
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header stretch-limit" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#taskFilter" aria-expanded="true" aria-controls="taskFilter">
                    <h5>Filters</h5>
                </button>
            </h2>
        </div>
        <div id="taskFilter" class="collapse show" aria-labelledby="headingTwo">
            <div class="card-body selection-panel">
                @foreach (var taskFilter in Model.TaskFilters)
                {
                    <div>
                        <a class="task-filter-item" asp-action="Index" value="@taskFilter.Value">
                            <i class="fa fa-angle-right"></i>@taskFilter.Name
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
