@model Pegasus.Models.TaskList.IndexViewModel
@{
    ViewData["Title"] = "Task List";
}
<form class="project-list-form" method="get" action="@Url.Action("Index")" data-pgs-ajax="true" data-pgs-target="#projectTaskList">
    <div class="row task-list">
        <div class="col-sm-3">
            <partial name="../TaskList/_SelectionPanel" model="Model"/>
        </div>
        <div class="col-sm-9">
            <partial name="../TaskList/_ProjectTaskList" model="Model" />
        </div>
    </div>
</form>