@model Pegasus.ViewModels.Home.TaskViewModel

@{
    ViewData["Title"] = "Task";
}

<form asp-action="Edit" data-pgs-ajax="true" data-pgs-target="#editTaskContent">
    <div class="form-horizontal">
        <h3>@Model.Project.Name Task</h3>
        <hr />

        @Html.Partial("_EditTaskContent", Model)
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

